<div class="search">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="form-section">
         <div class="row">
             <%= form_tag(accomodations_path, :method => "get", class: "navbar-form", id: "search-form") do %>
                 <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "City" %>
                 <button type="submit" class="btn btn-default btn-primary">Search <i class="fa fa-search"></i></button>
             <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
