
 <!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to HairBnb</h1>
        <h3>Find the best flats for stylish men</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Get your flat</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <br>
            <br>
                <h2>Search from the list of our best accomodations</h2>
                <%= render "searchbar" %>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


    <!-- /.container -->
</section>

<!-- Portfolio -->

